.language-selector-area {
    margin-top: 8px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.language-selector {
    width: 200px;
    height: 40px;
}

.arrow-icon {
    margin: auto;
}
