.topbar {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.topbar-button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: medium;
    height: 40px;
}