.sourcearea {
    padding: 8px;
}

.overflow-sourcearea {
    max-height: 200px;
    overflow: auto;
}

.source-buttonarea {
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.source-button {
    padding: 0 !important;
    padding-right: 8px !important;
}

.source-button:hover {
    background-color: inherit !important;
}
