<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Actions</key>
        <array>
            <dict>
                <key>Shell Script File</key>
                <string>Pot.sh</string>
                <key>Image File</key>
                <string>Pot.png</string>
                <key>Title</key>
                <string>Pot Translate</string>
            </dict>
        </array>
        <key>Credits</key>
        <array>
            <dict>
                <key>Link</key>
                <string>https://pot-app.com/</string>
                <key>Name</key>
                <string>pot-app</string>
            </dict>
        </array>
        <key>Extension Description</key>
        <string>Translate text with Pot.</string>
        <key>Extension Identifier</key>
        <string>com.pot-app.popclip.extension.desktop</string>
        <key>Extension Image File</key>
        <string>Pot.png</string>
        <key>Extension Name</key>
        <string>Pot</string>
        <key>Required OS Version</key>
        <string>10.13</string>
    </dict>
</plist>