* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    color: #3faaf2;
}

body {
    padding: 12px;
    padding-top: 0;
}

html {
    border-radius: 10px;
}

.fi {
    margin-right: 8px;
    border-radius: 3px;
}

.titlebar {
    height: 35px;
    user-select: none;
    position: fixed;
    margin: 5px;
    top: 0;
    left: 0;
    right: 0;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #c0c1c550;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #c0c1c550;
}
