* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #333436;
    padding: 12px;
    padding-top: 0;
}

html {
    border-radius: 10px;
}

.titlebar {
    height: 100vh;
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.textarea {
    background-color: #252628;
    color: #c0c1c5;
}

*::-webkit-scrollbar {
    width: 3px;
}

*::-webkit-scrollbar-thumb {
    background: #c0c1c5;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #c0c1c5;
}