.chat-wrapper {
    width: 100%;
    margin: 0 auto;
}
.chat-wrapper .message-item {
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
}
.chat-wrapper .message-item:hover {
    background-color: #000000;
}
.chat-wrapper .message-item .meta {
    display: flex;
    grid-gap: 0.75rem;
    gap: 0.75rem;
}
.chat-wrapper .message-item .avatar span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 1em;
    border-radius: 50%;
}
.chat-wrapper .message-item .avatar .assistant {
    background-image: linear-gradient(to right, #000000, #000000, #000000);
}
.chat-wrapper .message-item .avatar .user {
    background-image: linear-gradient(to right, #000000, #000000);
}
.chat-wrapper .message-item .avatar .system {
    background-image: linear-gradient(to right, #000000, #000000, #000000);
}
.chat-wrapper .message-item .message {
    flex: 1;
    overflow: hidden;
    font-size: 14px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
        Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
.chat-wrapper .message-item .message code:not(.hljs) {
    font-weight: 600;
    font-size: 0.875em;
    font-family: system-ui, sans-serif;
}
.chat-wrapper .message-item .message p {
    margin: 1em 0;
    line-height: 1.75;
}
.chat-wrapper .message-item .message pre {
    padding: 0.4rem 1rem;
    font-size: 0.8rem;
    background-color: #282c34;
    border-radius: 0.2rem;
}
.chat-wrapper .message-item .message [relative] {
    position: relative;
}
.chat-wrapper .message-item .message .copy-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    color: #000000;
    background-color: #000000;
    border-radius: 0.2rem;
    cursor: pointer;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-property: all;
}
.chat-wrapper .message-item .message .copy-btn div {
    position: absolute;
    top: -24px;
    display: none;
    padding: 0.2rem 0.4rem;
    color: white;
    font-size: 12px;
    background-color: #000;
    border-radius: 0.2rem;
}
.chat-wrapper .message-item .message .copy-btn svg {
    display: block;
}
.chat-wrapper .message-item .message .copy-btn:hover > div {
    display: block;
}
.chat-wrapper .thinking {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
    justify-content: center;
    margin-top: 0.5rem;
    padding: 0.75rem;
    font-size: 16px;
    background-color: #e5e7eb;
    border-radius: 0.2rem;
}
.chat-wrapper .thinking .stop {
    padding: 0 0.75rem;
    font-size: 14px;
    border: 1px solid #282c34;
    border-radius: 0.2rem;
    cursor: pointer;
}
.chat-wrapper .send-bar {
    display: flex;
    grid-gap: 0.5rem;
    gap: 0.5rem;
    margin-top: 0.5rem;
}
.chat-wrapper .send-bar .input {
    flex: 1;
    padding: 0.75rem;
    font-size: 16px;
    border: none;
    border-radius: 0.2rem;
    resize: none;
}
.chat-wrapper .send-bar .input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
.chat-wrapper .send-bar .button {
    min-width: 3rem;
    height: 3rem;
    padding: 0 0.75rem;
    font-size: 16px;
    background-color: #e5e7eb;
    border: 0 solid #e5e7eb;
    border-radius: 0.2rem;
    cursor: pointer;
}
.chat-wrapper .send-bar .button:active {
    background-color: #ddd;
}
@media (min-width: 720px) {
    .chat-wrapper {
        width: 700px;
    }
}
