.targetarea {
    margin-top: 8px;
    padding: 8px;
    height: calc(60vh - 44px);
}

.interface-selector-area {
    height: 40px;
}

.interface-selector {
    height: 40px;
}

.overflow-textarea {
    overflow: auto;
    height: calc(100% - 70px);
}

.target-buttonarea {
    height: 30px;
    display: flex;
    justify-content: start;
}

.target-button {
    padding: 0;
}

.loading {
    margin-left: 20px;
}