.interface-selector-area {
    height: 35px;
    display: flex;
    justify-content: space-between;
}

.interface-icon {
    vertical-align: middle;
    margin-right: 8px;
}

.interface-name {
    vertical-align: middle;
}

.overflow-textarea {
    overflow: auto;
    margin: 0 8px;
    height: calc(100% - 80px);
}

.target-buttonarea {
    display: flex;
    height: 30px;
    padding-left: 8px;
    margin: 8px 0;
    justify-content: left;
}

.target-button {
    display: inline-flex;
    padding: 0 !important;
    padding-right: 8px !important;
}

.target-button:hover {
    background-color: inherit !important;
}

.loading {
    margin-left: 20px;
}
