.targetarea {
    margin-top: 8px;
    background-color: #252628;
    height: calc(100vh - 270px);
    border-radius: 10px;
}

.interface-selector {
    color: #c0c1c5;
}

.control-button {
    border: none;
    background-color: transparent;
    color: #c0c1c5;
}

.overflow-textarea {
    overflow: auto;
    height: calc(100% - 70px);
}