.interface-selector-area {
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.interface-icon {
    vertical-align: middle;
    margin-right: 8px;
}

.interface-name {
    vertical-align: middle;
}

.overflow-textarea {
    overflow: auto;
    margin: 0 8px;
    height: calc(100% - 80px);
}

.target-buttonarea {
    display: flex;
    padding-left: 8px;
    justify-content: left;
}

.target-button {
    padding: 0;
}

.target-button:hover {
    background-color: inherit !important;
}

.loading {
    margin-left: 20px;
}
