@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    border-radius: 10px !important;
    background: transparent !important;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #c0c1c550;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #c0c1c550;
}
