.image-content {
    height: calc(100% - 30px);
}

.image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.image-control {
    height: 30px;
}

.control-button {
    padding: 0;
}

.control-button:hover {
    background-color: inherit !important;
}
