/* 显示区 */
.display-area {
    height: calc(100vh - 99px);
    /*76=12(body padding)+40+12(control margin)+12(display margin)*/
}

.image-area {
    height: 100%;
    margin-right: 6px;
    padding: 8px;
}

.text-area {
    height: 100%;
    margin-left: 6px;
    padding: 8px;
}

/* 操作区 */
.control-area {
    height: 40px;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}
